################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Game/bin
/Game/obj
/Tools/bin
/Tools/obj
/Game/JumpKing.exe
